
### 展開
# 
Expand-Archive `
    -Path "C:\Temp\nifi-toolkit-1.9.2-bin.zip" `
    -DestinationPath "C:\Program Files\"

Expand-Archive `
    -Path "C:\Temp\kafka_2.11-2.3.0.tgz" `
    -DestinationPath "C:\Program Files\"



