Set-WinUILanguageOverride `
    -Language ja-JP;
    
Set-WinCultureFromLanguageListOptOut `
    -OptOut $False;
    
Set-WinHomeLocation `
    -GeoId 0x7A;
    
Set-WinSystemLocale `
    -SystemLocale ja-JP;
    
Set-TimeZone `
    -Id "Tokyo Standard Time";